body{
    background-color: rgb(30, 30, 30);
    
}

input{
    background-color: #303030;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    padding-left: 5px;
}

#bankInput{
    width: 550px;
}

#bankButton{
    width: 550px;
}

#footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
}