body{
    background-color: rgb(30, 30, 30);
    
}

input{
    background-color: #303030;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    padding-left: 5px;
}

#bankInput{
    width: 550px;
}

#bankButton{
    width: 550px;
}

#footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
}

@media(max-width: 1700px) {

    /* navbar */
    #navbar{
        width: 380px;
    }

    #navbar #navbarTitle{
        font-size: 25px;
    }

    #githubLink{
        font-size: 18px;
    }

    /* login component */
    #form{
        width: 300px;
    }

    #btnLogin{
        width: 250px;
    }

    #btnSemLogin{
        width: 250px;
    }

    /* bank component */
    #bank{
        width: 320px;
    }

    #currency{
        font-size: 40px;
    }

    #bankInput{
        width: 280px;
    }
}